<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329324834777-qga1ffqaom6q4a8o5t9i3g35cdbsgbmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329324834777-qga1ffqaom6q4a8o5t9i3g35cdbsgbmn</string>
	<key>API_KEY</key>
	<string>AIzaSyBax0m4JONkZE4JxlmreMQWO7RInwBAtxU</string>
	<key>GCM_SENDER_ID</key>
	<string>329324834777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.audiophile.vautour.jessy</string>
	<key>PROJECT_ID</key>
	<string>audiophile-clean</string>
	<key>STORAGE_BUCKET</key>
	<string>audiophile-clean.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329324834777:ios:2dcf53b637a65b1fa8f3c8</string>
</dict>
</plist>